<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>MUTEX Invitation</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="file:///home/manwar/tmp/mutex-accept/public/assets/css/normalize.css">
  <link rel="stylesheet" href="file:///home/manwar/tmp/mutex-accept/public/assets/css/skeleton.css">
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <center>
        <div class="twelve columns" style="margin-top: 10%">
          <img style="width: 500px; height: auto;" src="file:///home/manwar/tmp/mutex-accept/public/assets/imgs/mutex.png"/>
          <h4>You are invited</h4>
          <h2 style="text-transform: uppercase"><%=fullname%></h2>
          <h5 style="text-transform: lowercase"><%=email%></h5>
          <div style="width: 150px;">
            <%-qr%>
          </div>
        </div>
      </center>
    </div>

    <div class="row">
      <center>
        <div class="twelve columns" style="margin-top: 3%">
          <h3>Zagazig University</h3>
          <h2>H1 Hall, be there at 11:00 EET</h2>
        </div>
      </center>
    </div>

    <div class="row" style="margin-top: 5%">
      <center>
        <div class="six columns">
          <img style="width: auto; height: 150px;" src="file:///home/manwar/tmp/mutex-accept/public/assets/imgs/ieee.png"/>
        </div>
      </center>
    </div>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
